html {
 overflow: auto;
 /*min-height: 100%;*/
}

html, body, iframe {
 margin: 0px; 
 padding: 0px; 
 height: 100%; 
 border: none;
}

iframe {
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
}

.nav-link, .dropdown-item, .form-check-label {
  cursor: pointer;
}

.fb-root, .controls-container {
  /*height: 100%; */
  height: 0px;
}

.logo {
 /* padding-top: 0px;
  padding-bottom: 0px;*/
  margin-right: 1rem;
}

.right {
	position: absolute;
	right: 16px;
}

